{% extends 'base.html' %}
{% include 'navbar.html' %}
{% block body %}
<div class="container mt-5 pt-5 d-flex flex-column justify-content-center align-items-center">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning" role="alert">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <p class="display-4">Login Form</p>
    <form method="POST" action="#">
        <div class="mb-3 mt-3">
            <label class="form-label h4">Username</label>
            <input class="form-control" placeholder="Enter your username" name = "username" type="text"/>
        </div>
        <div class="mb-3 mt-3">
            <label class="form-label h4">Password</label>
            <input class="form-control" placeholder="Enter your password" name = "password" type="password"/>
        </div>
        <div class="mb-3 mt-3 text-center">
            <button type="submit" class="btn btn-success fs-4">Login</button>
            <a href="{{url_for('movies.register')}}" class="nav-link mt-2">New user? Sign up here</a>
        </div>
    </form>
</div>
{% endblock %}